// トップページ

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navbar{
  display: flex;
  &__nav{
    display: flex;
  }
  .nav-link{
    margin-right: 15px;
  }
}
a{
  text-decoration: none;
  color: black;
}